body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_block {
  width: 30vw;
  height: auto;
  background-color: #f6f8fe;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0 auto;
  padding: 20px;
}


ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
transform: rotate(90deg);
}

.nested {
  display: none;
}

.active {
  display: block;
}