section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.carousel-control-prev-icon{
    background-image: url(../Photo/Petryna-left-arrow.svg);
}

.carousel-control-next-icon{
    background-image: url(../Photo/Petryna-next.svg);
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    width: 20px;
}

.carousel-control-prev{
    left: -125px;
}

.carousel-control-next{
    right: -125px;
}