
@font-face {
  font-family: Raleway-SemiBold;
  src: url('../fonts/raleway/Raleway-SemiBold.ttf'); 
}

@font-face {
  font-family: Raleway-Bold;
  src: url('../fonts/raleway/Raleway-Bold.ttf'); 
}

@font-face {
  font-family: Raleway-Black;
  src: url('../fonts/raleway/Raleway-Black.ttf'); 
}


* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Raleway-SemiBold, sans-serif;
}

a {
	font-family: Raleway-SemiBold;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;

}

label::first-letter {
  font-size:16px;
}

p.text::first-line {
  color: rgb(18, 18, 214);
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Raleway-SemiBold;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}


input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

label {
  display: block;
  margin: 0;
}

button {
	outline: none;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none;
}

.container-contact {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #d867c6;
  background: -webkit-linear-gradient(45deg, #c77ff2, #e8519e);
  background: -o-linear-gradient(45deg, #c77ff2, #e8519e);
  background: -moz-linear-gradient(45deg, #c77ff2, #e8519e);
  background: linear-gradient(45deg, #c77ff2, #e8519e);
  
}

option:disabled{
  background-color: #f0d5ff;
}
option:nth-child(2n)
{
  background-color: rgb(175, 175, 175);
}

.wrap-contact {
  width: 790px;
  background: #fff;
  border-radius: 2px;
  padding: 55px 95px 68px 95px;
}


.contact-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Title {
  width: 100%;
  display: block;
  font-family: Raleway-Black;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 45px;
}

input.input:invalid {
  background-color: #e2e2e2;
}


input.input:valid {
  background-color: white;
}

input:required{
  border: rgb(194, 0, 0) solid 2px;
}

.Wrap {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  margin-bottom: 34px
}


.label_input {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: #555555;
  line-height: 1.5;
  text-transform: uppercase;
  width: 100%;

  padding-bottom: 11px;
}

.input {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Raleway-SemiBold;
  font-size: 18px;
  color: #333333;
  line-height: 1.2;
  padding: 0 25px;
}

input.input {
  height: 55px;
}

textarea.input {
  min-height: 162px;
  padding-top: 19px;
  padding-bottom: 15px;
}

.divButton {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -4px;
}

.Button {
  font-family: Raleway-Bold;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 55px;
  border-radius: 27px;
  background: #d867c6;
  background:linear-gradient(45deg, #c77ff2, #e8519e);
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

input[type='reset']{
  font-family: Raleway-Bold;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border: none;
  opacity: 1;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
/*Checkbox*/
.container {
  max-width: 640px;
  font-family: Raleway-SemiBold, sans-serif;
  font-size: 13px;
}

ul.CheckData {
  list-style: none;
  padding: 20px;
}
ul.CheckData li{
display: inline;
}
ul.CheckData li label{
  display: inline-block;
  background-color: rgba(255, 255, 255, .9);
  border: 2px solid rgba(139, 139, 139, .3);
  color: #adadad;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-tap-highlight-color: transparent;
  transition: all .2s;
}

ul.CheckData li label {
  padding: 8px 12px;
  cursor: pointer;
}

ul.CheckData li label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-family: Raleway-SemiBold, sans-serif;
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "✚";
  transition: transform .3s ease-in-out;
}

ul.CheckData li input[type="checkbox"]:checked + label::before {
  content: "✔";
  transform: rotate(-360deg);
  transition: transform .3s ease-in-out;
}

ul.CheckData li input[type="checkbox"]:checked + label {
  border: 2px solid #e8519e;
  background-color: #b93379;
  color: #fff;
  transition: all .2s;
}

ul.CheckData li input[type="checkbox"] {
display: absolute;
}
ul.CheckData li input[type="checkbox"] {
position: absolute;
opacity: 0;
}
ul.CheckData li input[type="checkbox"]:focus + label {
border: 2px solid #e9a1ff;
}

/*Select*/
select {

  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 1px !important;
  background: #f0f3f5;
  background-image: none;
}
select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #fceb00;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #e8519e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.select:hover::after {
  color: #ffffff;
}

option{
  font-family: Raleway-SemiBold, sans-serif;
  font-size: 14px;
}

/*Two Checkbox*/
.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 10;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #e8519e;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {

  background: #e8519e;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

/*Link*/
p.Link {
  line-height: 1.4;
}

a.Link {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a.Link:link {
  color: rgb(0, 0, 0);
}

a.Link:visited {
  color: rgb(141, 10, 130);
}

a.Link:focus {
  border-bottom: 1px solid;
  background: #e8519e;
}

a.Link:hover {
  border-bottom: 1px solid;
  background: #e8519e;
}

a.Link:active {
  background: rgb(214, 1, 179);
  color: #e8519e;
}