body.Body3 {
    background-color: #79e2f5;
}
a {
    color: blue;
}
a.list1 {
    color: #FFBB00;
}
a.list2 {
    color: #800000;
}
#exam10{
    color: #56c500;

}
p.ex4{
    color: #00ff00;
}

p.ex5{
    color: #00ff00;
    background-color:#ff0000;
}
body.body5{
    background-image: url("../image/Petryna_ball.jpg");
    background-repeat: no-repeat;
    background-position: 5cm 5cm
}

h1.ex7{
    font-style: normal;
}
   h2.ex7{
    font-style: italic;
}
   p.ex7{
    font-style: oblique;
}
p.ex8{
    font-style: normal;
    font-variant: small-caps;
   }
p.ex9{
    font-style: normal;
    font-variant: normal;
    font-weight: 600 
}
h1.ex10{
    font-style: normal;
    font-size: 30px;
    text-transform:none;
}
   h2.ex10{
    font-style: italic;
    font-size: 100pt;
    text-transform:capitalize;
}
   h3.ex10{
    font-style: italic;
    font-size: 120%;
    text-transform:uppercase;
}
   p.ex10{
   font-style: italic;
   font-weight: bold;
   font-size: 30px;
   font-family: arial, sans-serif;
   text-indent: 3pt;
   text-align: justify;
   text-decoration: line-through;
   letter-spacing: 2em;
   text-transform:lowercase;
}   

/*Стилі до завдання №3*/

p.Group1, p.Group2{
    font-family: arial, sans-serif;
    font-style: italic;
    font-weight: bold;
}
p.Group1{
    font-size: 20px;
    color: red;
}
p.Group2{
    font-size: 40px;
    color: orange;
}

body.Task3 *{margin: 0; font-weight: bold;} 

h3.X+p.Y{
    color: white;
    background-color:#ff0000;
}

div#Container > ul {
    border: 1px solid black;
}

[href *= "example5"] {
    color: #ff0000; 
} 

h2:hover {color: blueviolet;} 

.Button {
    background-color: #0070C9;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    transition: 200ms ease-in;
}
  
  .Button::after {
    content: " *Цей текст написано з використанням :after*";
   color: rgb(255, 255, 255);
}
