
input[type=text], input[type=password] {
  min-width: 50%;
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.loginBlock {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 800px;
  margin: 0 auto;
}

form > div {
  margin-top: 20px;
}

span {
  margin-left: 10px;
}