table{
    caption-side: bottom;
}

/*Table 1*/
.Table1{
    border: 6px solid rgb(184, 0, 168);
    font: sans-serif;
    width: 500px;
    height: 200px;
    margin: auto;
}
table caption{
    margin-top: 10px;
}
table.Table1 td{
    border: 2px solid rgb(184, 0, 168);
}
.Column1{
   width: 200px;
}
.Row2{
    height: 150px;
}
.Text1{
    text-align: center;
}
.Text2{
    vertical-align: top;
    text-align: right;
}

/*Table 2*/
.Table2{
    border: 2px solid rgb(0, 160, 85);
    border-spacing: 20px;
}
table.Table2 td{
    border: 2px solid  rgb(0, 160, 85);
    width: 175px;
    padding: 0%;
}

/*Table 3*/
.Table3{
    border-spacing: 30px;
}
table.Table3, table.Table3 td{
    border: 2px solid rgb(197, 8, 8);
}
table.Table3 td{
    width: 300px;
    padding: 0%;
}
table.Table3 td.GreenText
{
    border: 2px solid rgb(6, 184, 15);
}
table.Table3 td.BlueText{
    border: 2px solid rgb(8, 21, 197);
}

/*Table 4*/
.Table4{
    border-spacing: 0px;

}
table.Table4 td{
    width: 210px;
    padding: 1%;

}
table.Table4, table.Table4 td{
    border: 1px solid rgb(7, 161, 172);
}
.Table4_Text1{
    text-align: center;
}
.Table4_Data1{
    color: blue;
}
.Table4_Data6{
    color: rgb(213, 88, 218);
}

/*Table 5*/

table.table.Table5Inside, td.Table5{
    border: 3px solid rgb(214, 48, 206);
    border-top: none;
    border-bottom: none;
}
table.Table5Inside{
    border-color: rgb(214, 48, 206);
}
table.Table5Inside td{
    width: 200px;
}
.Text51{
    text-align: center;
    background-color: rgb(30, 148, 30);
}

.Text52{
    text-align: center;
    background-color: rgb(28, 221, 60);
}


/*Table 6*/
.Table6{
    border: 1px solid rgb(131, 148, 132);
    border-spacing: 2px;
    caption-side: bottom;
}
table.Table6 td{
    width: 65px;
    padding: 0%;
    border: 1px solid rgb(131, 148, 132);
    text-align: center;
    vertical-align: top;
}
table.Table6 td.ThickRow{
    width: 30px;
}
table.Table6 tr:nth-child(1){
    font-weight: bold;
}
table.Table6 tr:nth-child(2){
    font-weight: bold;
}
table.Table6 td.LeftText{
    text-align: left;
}

/*Table 7*/
.Table7{
    border-spacing: 0px;
    border:  2px solid rgb(47, 0, 218);
    margin: auto;
}
table.Table7 td{
    width: 130px;
    border: 1px solid rgb(47, 0, 218);
    height: 17px;
    font-size: 14px;
}
.Text7Blue{
    background-color:rgb(92, 154, 235);
}
.Text7NoPink{
    background-color:rgb(218, 134, 176);
}
.Text7Pink{
    background-color:rgb(224, 28, 224);
}

/*Table 8*/
.Table8{
    border-spacing: 3px;
    margin: auto;

}
table.Table8 td{
    width: 110px;
    padding: 0%;
    font-size: 14px;
}
table.Table8, table.Table8 td{
    border: 1px solid rgb(3, 205, 255);
}

table.Table8 td.Table8Row2{
    width: 30px;
}

table.Table81{
    border: 1px solid rgb(255, 3, 242);
    border-spacing: 0px;
}
table.Table82{
    border: 1px solid rgb(133, 3, 255);
    border-spacing: 0px;
}

table.Table81 td{
    border: 1px solid rgb(255, 3, 242);
}
table.Table82 td{
    border: 1px solid rgb(133, 3, 255);
}