table.Table1{
    border: 1px solid black;
    width: 600px;
    height: 100px;
    border-spacing: 0px;
    text-align: center;
    margin: auto;
    margin-top: auto;
}

table.Table1 td{
    border-spacing: 0px;
    border: 1px solid black;
    font: bold 1em Arial, sans-serif;
}

iframe.Frame1{
    width: 1690px;
    height: 160px;
}

div{
    margin-left: 100px;
    margin-top: auto;
    text-align: center;
    font: bold 1em Arial, sans-serif;
}
.Gif{
    float: left;
    margin-top: auto;
}

iframe.Media{
    width: 1700px;
    height: 920px;
    position:absolute;
    bottom: -590px;
    left: 100px;
    
}
div.Table{
    margin-left: 0px;
}

p.Download{
    text-decoration: none;
    color: black;
    font: bold 1em Arial, sans-serif;
}
p.Download:hover{
    color: purple;
}