body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_block {
  width: 30vw;
  height: auto;
  background-color: #f6f8fe;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0 auto;
}

.inputBlock {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

label {
  text-align: right;
  clear: both;
  float:left;
  margin-right:15px;
  margin-left: 15px;
  margin-top: 20px;
}

input[type=text] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button] {
  width: 80%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: #45a049;
}
