* {
  margin: 0px;
  padding: 0px;
}
body {
  background: url(photos/wall.jpg) no-repeat;
  background-size: 100%;
  display: flex;
}
.first_line {
  background: url(photos/wall1.jpg) no-repeat;
  background-size: 100%;
  padding: 10px;
  text-align: center;
  color: purple;
  font-size: 30px;
  font-weight: bolder;
}
.second_line {
  background: url(photos/wall2.jpg) no-repeat;
  background-size: 100%;
  padding: 18px 20px 10px 20px;
  display: flex;
  flex-direction: row;
}
.photo img{
  width: 60%;
  box-shadow: 0 0 8px;
}
.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Arial', sans-serif;
  color: #e30086;
}
.photo {
  cursor: pointer;
}
.third_line {
  background: url(photos/wall3.jpg) no-repeat;
  background-size: 100%;
  text-align: center;
  color: #ff5390;
  font-size: 30px;
  font-weight: bolder;
}
