div{
    margin: auto;
}

div.TopDiv, div.BottomDiv{
    width: 1500px;
    height: 150px;
    background-color: rgba(255, 217, 0, 0.801);
    border: solid 2px black;
}
.Middle{
    width: 1500px;
    height: 1000px;
    border: solid 2px black;
    overflow:hidden
}

.Left{
    width: 500px;
    height: 1000px;
    background-color: rgb(201, 58, 33);
    position:absolute;
    overflow-y: scroll;
    overflow: auto;
}

.Right{
    width: 1000px;
    height: 70%;
    left: 702px;
    background-color: white;
    position:absolute;
}

.TopMiddle{
    width: 900px;
    height: 175px;
    top: 50px;
    left: 50px;
    background-color: grey;
    position:absolute;
}

.LeftMiddle{
    width: 400px;
    height: 700px;
    left: 50px;
    top: 250px;
    background-color: grey;
    position:absolute;
    overflow-y: scroll;
    overflow: auto;
}

.RightMiddle{
    width: 400px;
    height: 700px;
    right: 50px;
    top: 250px;
    background-color: grey;
    position:absolute;
    overflow-y: scroll;
    overflow: auto;
}

.Block{
    top: 50px;
    height: 75px;
    width: 500px;
    left: 250px;
    background-color: white;
    position:absolute;
    border: solid 2px black;
}

h1{
    text-align: center;
    font-weight: bold;
}
.LeftText, h2{
    text-align: center;
    color: white;
    text-shadow: 3px 5px 6px black;
}

p{
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-shadow: 3px 5px 6px black;
}

.TopText{
    margin-left: 400px;
    margin-top: 60px;
}

.BottomText{
    color: black;
    text-shadow: none
}