body{
    
    background: url(../Photos/Petryna_1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Image1{
    z-index: 3;
    position: absolute;
}

.Image2{
  z-index: 3;
  top: 1000px;
  position: absolute;
}

.Image3{
  z-index: 1;
  top: 1000px;
  position: absolute;
}

.Image4{
  top: 2500px;
  z-index: 5;
  position: absolute;
}

.Image5{
  z-index: 2;
  top: 500px;
  left: 1100px;
  position: absolute;
}

.Image6{
  position: absolute;
  top: 100px;
  left: 800px;
  z-index: 1;
}



