* {
    margin: 0px;
    padding:0px;
}

.body {
    font: "Arial", sans-serif;
	overflow-x: hidden;
}
.header {
    margin: 0 auto;
    width: 1300px;
    height: 60px;
    background-color: #1e1e1e;
    position: relative;
}
.wrapper {
    position: relative;
}

.header > .wrapper > img {
    padding-left: 150px;
    padding-top: 12px;
}
.logo {
    font: Arial sans-serif;
    font-size: 12px;
    color: #686868;
    padding-left: 150px;
    padding-bottom: 8px;
}
.search-container {
    position: absolute;
    right: 150px;
    top: 0px;
}
.btn {
    background-color: #000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #4c4c4c;
    padding: 7px 14px;
    color: white;
}
.logo-input {
    width: 350px;
    height: 28px;
    border: 1px solid #4c4c4c;
    background-color: #323232;
}

.banner {
    height: 330px;
    width: 1300px;
    margin: 0 auto;
    background-image: url(../Photo/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

blockquote {
    padding-left: 37px;
    padding-top: 5px;
    font-style: italic;
    color: #8b8b8b;
}
.banner-text {
    width: 1003px;
    height: 57px;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    left: 150px;
    top: 273px;
}
.opacity-text {
    font-size: 12pt;
    color: white;
    opacity: none;
    padding-left: 22px;
    padding-top: 12px;
    padding-bottom: 18px;
    position: absolute;
    left: 150px;
    top: 273px;
}

.container {
    height: 1230px;
    width: 1300px;
    background-color: #e7e7e7;
    margin: 0 auto;
}

.navigation {
    height: 30px;
    width: 1000px;
    background-color: black;
    margin: 0 auto;
    border: 1px solid #c0c0c0;
    border-top: none;
    border-bottom: none;
}
.nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}
.nav>li>a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
}
.nav>li {
    padding-left: 23px;
    margin-left: 26px;
    padding-top: 4px;
    position: relative;
}
.nav>li::before {
    content: '';
    display: block;
    width: 1px;
    height: 30px;
    background-color: #272727;
    position: absolute;
    left: 0;
    top:0;
}
.nav>li:first-child::before {
    display: none;
}
.nav>li:first-child {
    padding-left: 0px;
}
.main-block {
    width: 986px;
    height: 1170px;
    background-color: white;
    margin: 0 auto;
    border: 1px solid #c0c0c0;
    border-top: none;
    padding-left: 14px
}
.image-group {
    display: inline-block;
    margin-top: 9px;
}
.image-group > img {
    width: 201px;
    height: 143px;
    border: 12px solid #e2e2e2;
    margin-right: 18px;
}

h2 {
    padding-top: 16px;
    color: #838383;
}
h2:first-letter {
    color: black;
}

.text-group {
    padding-right: 90px;
    padding-left: 33px;
    padding-top: 18px;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}
.center {
    text-align: center;
}
.center>p:nth-child(2n+1) {
    font-weight: 600;
} 
.table {
	border: 1px solid #d5d5d5;
	border-collapse: collapse; 
    height: 154px;
    width: 964px;
    margin-top: 14px;
}
.table tr {
	padding: 5px;
	background: white;
	border: 1px solid #d5d5d5;
}
.first-line td {
    background: #efefef;
    font-weight: 600px;
}
tr.first-line {
    font-weight: 600;
}
.table td {
	border: 1px solid #d5d5d5;
	padding: 5px;
    padding-left: 14px;
}

footer {
    padding-left: 150px;
    padding-top: 10px;
    font-size: 13px;
    font-weight: 600;
    color: #818080;
}

form {
    padding-top: 10px;
    font-weight: 500;
}
form > p {
    padding-top: 14px;
    margin-bottom: 5px;
}
textarea {
    width: 303px;
    height: 125px;
    resize: none;
    border: 1px solid #b7b7b7;
}

button {
    margin-top: 15px;
    background-color: #202020;
    border: none;
    color: white;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
}
.checktext {
    margin-top: 20px;
}
.radiotext {
    margin-top: 13px;
}

.input-text {
    width: 218px;
    height: 30px;
    padding-left: 10px;
}

.select-css {
    width: 228px;
    height: 30px;
}

.select-css, .input-text {
    border: 1px solid  #b7b7b7;
}
