* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
.wrapper {
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

/*Header*/
header {
    width: 100%;
    background-color: #fdfdfe;
    margin: 0 auto;
}
.top-header {
    padding-top: 45px;
    display: flex;
    justify-content: space-between; 
}

.logo>span {
    font-weight: bold;
    font-size: 30px;
    color: #242f51;
}
span.logo {
    color: #fcae61;
}
nav { 
    display: flex;
}
nav>ul { 
    display: flex;
    list-style-type: none;
    padding: 0px;
}
nav>ul>li {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 20px;
}
nav>ul>li>a {
    text-decoration: none;
    color: #242f51;
    font-size: 16px;
    font-weight: 400;
}
nav button {
    height: 58px;
    width: 160px;
    background-color: #2500f9;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-left: 40px;
}
nav button a {
    color: #f2f0ff;
    text-decoration: none;
}
.bottom-header {
    background: url(../Image/logo_banner.png);
    background-position: center;
    background-repeat:repeat;
    width: 100%;
    height: 840px;
}

/*Section1*/
section.chapter1 {
    height: 2580px;
    width: 100%;
    border-bottom: 1px solid #f4f4f4;
}
.inscription {
    height: 32px;
    width: 362px;
    border-radius: 30px;
    border: none;
    background-color: #e2eaed;
    display: flex;
}
img.check {
    background-color: #feaa25;
    border-radius: 30px;
    padding: 7px 11px;
}
.inscription>span {
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 3px;
}
.phone {
    position: absolute;
    top: 40px;
    right: 78px;
}
.banner-text {
    height: 370px;
    width: 530px;
    position: absolute;
    left: 70px;
    top: 240px;
}

.banner-text h1 {
    font-weight: 600;
    font-size: 60px;
    color: #242f51;
}
.banner-text button {
    height: 58px;
    width: 160px;
    background-color: #2500f9;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #f2f0ff;
    margin-right: 30px;
}
.banner-text button a {
    color: #f2f0ff;
    text-decoration: none;
}
.button-group {
    margin-top: 40px;
}
.banner-text p {
    font-size: 18px;
    font-weight: 400;
    color: #616368;
}
.banner-text span a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #4d2ffa;
}

.image-group {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
}
.image-group>img {
    max-width: none;
    max-height: none;
    vertical-align: middle
}
.image-box {
    position: relative;
    height: 170px;
    width: 120px;
}
.image-box>img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.companies-logo>p {
    font-size: 16px;
    font-weight: 600;
    color: #242f51;
    text-align: center;
}
.companies-logo {
    padding-top: 114px;
}
.container1 {
    margin: 0 auto;
    height: 1000px;
    width: 1600px;
    background: url(../Image/phone2.png) no-repeat;
    background-position: top 110px left 100px
}
.text-block {
    padding-left: 580px;
    padding-top: 130px;
}
.icon-column {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}
.icon-box {
    display: flex;
    margin-bottom: 50px;
}
.text-block>h2 {
    font-size: 36px;
    font-weight: 700;
    color: #242f51;
}
.text-block>p {
    font-size: 16px;
    font-weight: 400;
    color: #616368;
    margin-top: 20px;
}
.icon-text {
    padding-left: 30px;
}
.icon-text>p {
    font-size: 16px;
    font-weight: 400;
    color: #616368;
}
.icon-text>h3 {
    font-size: 20px;
    font-weight: 700;
    color: #4076ff;
}
.icon-box:first-child .icon-text>h3 {
    color: #f55767;
}
.icon-box:last-child .icon-text>h3 {
    color: #40975f;
}
.icon-img {
    padding-top: 10px;
}

.inline-text {
    display: flex;
    margin-top: 150px;
    margin-bottom: 115px;
    padding-left: 50px;
    padding-right: 160px;
    justify-content: space-between;
}
.left-text {
    font-size: 40px;
    font-weight: 700;
    padding-right: 80px;
    border-right: 1px solid #b9b9b8;
}
.right-text {
    color: #616368;
    font-size: 16px;
    font-weight: 600;
    margin-top: auto;
    margin-bottom: auto;
}

.icon-row {
    display: flex;
    justify-content: space-between;
    padding-left: 57px;
    padding-right: 86px;
    padding-bottom: 110px;
}
.icon-box2:first-child .icon-text>h3 {
    color: #f55767;
}
.icon-box2:last-child .icon-text>h3 {
    color: #40975f;
}
.icon-box2>.icon-img {
    padding-bottom: 30px;
    padding-left: 30px;
}

.container2 {
    background: url(../Image/aside_image.png) no-repeat;
    margin: 0 auto;
    width: 1600px;
    height: 600px;
    background-position: top 0px left 155px;
}
.aside-text {
    padding-left: 860px;
    padding-bottom: 155px;
}
.aside-text >button {
    height: 58px;
    width: 160px;
    background-color: #2500f9;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #f2f0ff;
    margin-top: 45px;
}
.aside-text button a {
    color: #f2f0ff;
    text-decoration: none;
}    

/*Section2*/
.grid-icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 90px;
    grid-row-gap: 75px;
    margin-top: 75px;
    padding-left: 100px;
    padding-right: 100px;
}
.center {
    text-align: center;
    
}
.container3{
    margin-top: 140px;
    max-height: 950px;
}
.center>h2 {
    font-size: 36px;
    color: #242f51;
    margin-bottom: 35px;
}
.center>p {
    font-size: 16px;
    color: #616368;
}
.grid-icon>.cell>h3 {
    color: #242f51;
    font-size: 20px;
    margin-top: 36px;
    margin-bottom: 15px;
}
.cell>p {
    font-size: 16px;
    color: #616368;
}

.container4 {
    background: url(../Image/aside_image2.png) no-repeat;
    margin: 0 auto;
    width: 1600px;
    height: 920px;
    background-position: top 30px left 900px;
    margin-top: 100px;
}

.small-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 40px;
    padding-left: 45px;
    padding-right: 490px;
}
.small-grid>.cell {
    width: 270px;
    height: 230px;
}
.small-grid>.cell>h3 {
    margin-top: 15px;
}
.text-info {
    padding-left: 40px;
}
.text-info>h2 {
    font-size: 36px;
    padding-bottom: 30px;
    color: #242f51;
}
.text-info>p {
    font-size: 16px;
    color: #616368;
    margin-bottom: 65px;
}
.container4>.wrapper>button {
    height: 58px;
    width: 160px;
    background-color: #2500f9;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #f2f0ff;
    margin-top: 50px;
    margin-left: 50px;
}
.container4>.wrapper>button a {
    color: #f2f0ff;
    text-decoration: none;
}    
section.chapter2 {
    border-bottom: 1px solid #f4f4f4;
}

/*Section3*/
.chapter3 {
    height: 1786px;
    border-bottom: 1px solid #f4f4f4;
}
.container5 {
    background: url(../Image/people_map.png) no-repeat;
    margin: 0 auto;
    width: 1600px;
    height: 940px;
    background-position: top 230px right 775px;
}
.right-container {
    padding-top: 158px;
    padding-left: 584px;
}
.right-container>h2 {
    font-size: 40px;
    color: #242f51;
}
.right-container>p {
    font-size: 16px;
    color: #616368;
    margin-top: 30px;
}
.right-container>img {
    margin-top: 30px;
    margin-bottom: 20px;
}
.right-container>h4 {
    font-size: 20px;
    color: #242f51;
}
.right-container nav {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.buttons {
    padding-top: 15px;
}
.buttons>button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 5px;
    border: 3px solid #eff3f8;
    background-color: white;
}
.buttons>button>a {
    text-decoration: none;
    font-size: 30px;
    color: #cdcfd1;
    vertical-align: middle;
}
.buttons>button:hover {
    background-color: #eff3f8;
}

.person-info {
    display: flex;
}
.person-text {
    padding-top: 15px;
    padding-left: 30px;
}
.person-text>h4 {
    font-size: 18px;
    color:#242f51;
}
.person-text>p {
    font-weight: 600;
    color: #616368;
}

.accordion {
    margin: 0 auto;
    margin-top: 66px;
}
.first-block {
    width: 944px;
    height: 260px;
    background-color: #f5f7fa;
    margin: 0 auto;
}
.accordion-block {
    width: 944px;
    height: 64px;
    background-color: #f5f7fa;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.accordion-block:after {
    content: url(../Image/plus.png);
    padding-right: 38px;
    padding-top:25px;
}
.first-block>h4 {
    padding-top: 50px;
    padding-left: 48px;
    padding-bottom: 38px;
    font-size: 20px;
    color: #242f51;
}
.first-block>p {
    padding-left: 48px;
    color: #616368;
}
.accordion-block>h4 {
    font-size: 20px;
    font-weight: 600;
    padding-left: 48px;
    padding-top:18px;
    color: #242f51;
}

/*Section4*/
.chapter4 {
    height: 426px;
    width: 100%;
    margin: 0 auto;
    background: url(../Image/aside_image3.png) no-repeat;
    background-position:top 15px left 885px;;
}
.bottom-block {
    margin-left: 14px;
}
.bottom-block>h2 {
    font-size: 48px;
    color: #242f51;
    padding-bottom: 45px;
    padding-top: 96px;
}
.bottom-block>p {
    font-size: 16px;
    color: #616368;
    padding-bottom: 50px;
}
.link-icon-group {
    margin-left: 18px;
}
.link-icon-group>img {
    margin-right: 30px;
}

/*Footer*/
footer {
    height: 532px;
    width: 100%;
    margin: 0 auto;
    background-color: #09142e;
}
.foot>span:last-child{
    color: white;
}
.foot {
    padding-top: 118px;
    padding-bottom: 54px;
}
.footer-nav>ul { 
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
    margin-bottom: 52px;
}
.footer-nav>ul>li {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 20px;
}
.footer-nav>ul>li>a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.footer-nav>p {
    font-size: 14px;
    padding-top: 92px;
    color: #52545a;
}

@media (min-width: 1200px) and (max-width: 1600px){
    .top-header {
        
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 480px) {

}
